@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello from Heroku!</h1>
    <p>You came here on @DateTime.Now</p>
    <p>Configuration Value: @Model.Endpoint</p>
</div>
